nav {
    display: block;
}
@media print {
    .navbar {
        display: none;
    }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav:before,
.nav:after {
    display: table;
    content: " ";
}
.nav:after {
    clear: both;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a,
.nav > li .text_span {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.nav > li.disabled > a {
    color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #999999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #428bca;
}
.nav > li > a > img {
    max-width: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar:before,
.navbar:after {
    display: table;
    content: " ";
}
.navbar:after {
    clear: both;
}
.navbar:before,
.navbar:after {
    display: table;
    content: " ";
}
.navbar:after {
    clear: both;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}
.navbar-header:after {         /*************#HEADER**************/
    clear: both;
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}
.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: " ";
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: " ";
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}
.container > .navbar-header,
.container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle:hover {
    position: relative;
    float: right;
    margin-top: -1px;
    margin-right: -1px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}
.navbar-nav {
    margin: 7.5px -15px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.navbar-nav > li > .text_span {
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 26px;
    color: #59a3fc;
}
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
    .pix_header_button{
        margin-bottom: 20px !important;
        display: inline-block;
    }
}
@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a,
    .navbar-nav > li > .text_span {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
}
@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }
}


.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navbar-nav.pull-right > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

@font-face {
    font-family: "Flat-UI-Icons";
    src: url("../fonts/Flat-UI-Icons.eot");
    src: url("../fonts/Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons.woff") format("woff"), url("../fonts/Flat-UI-Icons.ttf") format("truetype"), url("../fonts/Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
    font-family: 'Flat-UI-Icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="fui-"] {
*/

.fui-arrow-right,
.fui-arrow-left,

.fui-arrow-right:before {
    content: "\e02c";
}
.fui-arrow-left:before {
    content: "\e02d";
}

.bottom-icons {
    font-size: 16px;
    line-height: 1;
}


.bottom-links,
.bottom-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bottom-links li,
.bottom-icons li {
    display: block;
    float: left;
    margin: 0 18px 0 0;
}
@media (max-width: 767px) {
    .bottom-menu .navbar-brand,
    .bottom-menu .bottom-links {
        margin-bottom: 30px;
    }
    .bottom-menu .navbar-brand {
        padding: 15px;
        float: none;
    }
    .bottom-menu .bottom-links li {
        float: none;
        margin-bottom: 2px;
    }
    .bottom-menu [class*="span"]:last-child .bottom-links {
        margin-bottom: 0;
    }
}
.nav .dropdown-toggle .caret {
    border-bottom-color: #7f8c9a;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-color: #7f8c9a;
    border-top-width: 6px;
}

.tab-content {
    border: 2px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 20px 20px 5px;
    position: relative;
    z-index: 1;
}


.navbar {
    font-size: 16px;
    min-height: 53px;
    margin-bottom: 30px;
    border: none;
    border-radius: 6px;
}

.navbar-collapse {
    box-shadow: none;
    padding-right: 21px;
    padding-left: 21px;
}
@media (min-width: 768px) {
    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left: -21px;
    }
    .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -21px;
    }
    .navbar > .container .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -36px;
    }
    .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
        border-radius: 0 6px 6px 0;
    }
    .navbar-collapse .navbar-form.navbar-right:last-child {
        margin-right: -17px;
    }
    .navbar-fixed-top .navbar-collapse .navbar-form.navbar-right:last-child,
    .navbar-fixed-bottom .navbar-collapse .navbar-form.navbar-right:last-child {
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-bottom: 3px;
    }
}

.navbar-toggle {
    border: none;
    color: #333;
    margin: 0 0 0 21px;
    padding: 0 21px;
    height: 53px;
    line-height: 53px;
}
.navbar-toggle:before {
    color: #333;
    content: "\e00c";
    font-family: "Flat-UI-Icons";
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    outline: none;
}
.navbar-toggle:hover:before,
.navbar-toggle:focus:before {
    color: #333;
}
.navbar-toggle .icon-bar {
    display: none;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}
.navbar-nav {
    margin: 0;
}
.navbar-nav > li > a {
    font-size: 16px;
    padding: 15px 21px;
    line-height: 23px;
    font-weight: 700;
}
.navbar-nav .dropdown-toggle .caret {
    border-top-color: #16a085;
    border-bottom-color: #16a085;
    border-width: 8px 6px 0;
    margin-left: 12px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav .open > a:focus,
.navbar-nav .open > a:hover {
    background-color: transparent;
}
.navbar-nav > li > a:hover .caret,
.navbar-nav > li > a:focus .caret,
.navbar-nav .open > a:focus .caret,
.navbar-nav .open > a:hover .caret {
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
}
.navbar-nav [class^="fui-"] {
    line-height: 20px;
    position: relative;
    top: 1px;
}
.navbar-nav .visible-sm > [class^="fui-"],
.navbar-nav .visible-xs > [class^="fui-"] {
    margin-left: 12px;
}
@media (max-width: 768px) {
    .navbar-nav {
        margin: 0 -21px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 7px 15px 7px 31px !important;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 23px;
    }
    .navbar-nav > li > a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}
.navbar-nav > li > .dropdown-menu {
    min-width: 100%;
    border-radius: 4px;
}
@media (max-width: 768px) {
    .navbar-nav > li > .dropdown-menu {
        -webkit-transition: all 0s;
        transition: all 0s;
        display: none;
    }
}
@media (max-width: 768px) {
    .navbar-nav > li.open > .dropdown-menu {
        margin-top: 0 !important;
        display: block;
    }
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.navbar-nav > .open > .dropdown-toggle,
.navbar-nav > .open > .dropdown-toggle:focus,
.navbar-nav > .open > .dropdown-toggle:hover {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-embossed > .navbar-collapse {
        border-radius: 6px;
        -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    }
    .navbar-embossed.navbar-inverse .navbar-nav .active > a,
    .navbar-embossed.navbar-inverse .navbar-nav .open > a {
        -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    }
}
.navbar-lg {
    min-height: 76px;
}
.navbar-lg .navbar-brand {
    line-height: 1;
    padding-top: 25px;
    padding-bottom: 26px;
}
.navbar-lg .navbar-brand > [class*="fui-"] {
    font-size: 24px;
    line-height: 1;
}
.navbar-lg .navbar-nav > li > a {
    font-size: 15px;
    line-height: 1.6;
}
@media (min-width: 768px) {
    .navbar-lg .navbar-nav > li > a,
    .navbar-lg .navbar-nav > li > .text_span {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .navbar-left li:first-child a { padding-left: 0px}
    .right_socials { text-align: right;float: right;display: inline-block;position: relative;}
}
.navbar-lg .navbar-toggle {
    height: 76px;
    line-height: 76px;
}
.navbar-lg .navbar-unread,
.navbar-lg .navbar-new {
    top: 28px;
}
.navbar-lg .navbar-form {
    padding-top: 20.5px;
    padding-bottom: 20.5px;
}
.navbar-lg .navbar-text {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
}
.navbar-lg .navbar-btn {
    margin-top: 18px;
    margin-bottom: 17px;
}
.navbar-lg .navbar-btn.btn-sm {
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-lg .navbar-btn.btn-xs {
    margin-top: 25px;
    margin-bottom: 25px;
}
.pix_nav_1 {
    position: relative;
    padding: 0px !important;
    top: 0px;
    line-height: 30px;
    margin: 0px !important;
}
.pix_nav_1 ul li {
    margin: 0px !important;
}
.pix_nav_1 ul li a {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.pix_nav_1 ul li a:hover {
    //color: rgba(0,0,0,0.85); 
    opacity: 0.6;
}
.header_nav_1 {
    padding: 0px !important;
    box-shadow: none; 
}
